@font-face 
{
    font-family: 'OpenSans-Light';
    src: url('contenu/font/OpenSans-Light.ttf');
}
@font-face
{
	font-family:'OpenSans-Bold';
	src: url(contenu/font/OpenSans-Bold.ttf);
}

html
{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
}

body
{
	font-family: 'OpenSans-Light';
    margin:auto;
    width:900px;
    border:1px solid grey;
}

h1
{
	font-size:32px;
}


article h2
{
	font-family:'OpenSans-Bold';
	background: url('contenu/image/separateur.png') repeat-x bottom;
	background-size:12px;
	font-size:20px;
}

section
{
	margin-bottom: -1px;
	display:flex;
	flex-direction:row;
	height: 936px;
}

li
{
	font-size:12px;
}

article
{
    margin-right: 20px;
    padding-left:40px;
   	order:2;
   	width:70%;
}

img.icon_thinking
{
padding-right:5px;
}
img.icon_skill
{
padding-right:5px;
}

img.icon_tool
{
padding-right:5px;
}

aside
{
	order:1;
    position:relative;
    background-color:#3F51B5;
    width:30%;
}

aside h2
{
	font-family:'OpenSans-Bold';
	background-color:#2A2A2A;
	text-align:center;
	color:#3F51B5;
	font-size:20px;
}

aside ul
{
	list-style-type: none;
}

#textapropos
{
	margin-left: 7px;
    margin-right: 6px;
}
p#textapropos
{
	font-size:12px;
}

p#aside_image
{
	text-align:center;
	padding-top: 24px;
    padding-bottom: 10px
}

p#aside_image img
{
	width : 150px; 
	height : 150px;
  	border: none;
  	-moz-border-radius : 75px;
  	-webkit-border-radius : 75px;
  	border-radius : 75px;
}

#loisirs
{
	position: relative;
	text-align:center;
	padding-top: 58px;
}

#loisirs img
{
	padding-left: 16px
}

#description_competences
{
	display:inline-block;
	padding-left:10px;
	float:right;
	padding-top: 10px;
	font-family: 'OpenSans-Light';
	font-size:12px;
}


#titre_competences 
{
	font-family: 'OpenSans-Light';
	float:left;
	display:inline-block;
	padding-left: 72px;

}
#titre_competences p
{
font-family: 'OpenSans-Light';
font-size:12px;
}

#description_competences p
{
margin-top: 2px;
}


#titre_competences h3
{
	font-size:16px;
	margin-bottom:10px;
}

#competences
{
	display:inline-block;
	width:100%;
}

#titre_experience
{
	font-family: 'OpenSans-Light';
	width:10%;
	display:inline-block;
	font-size:12px;
}

#titre_experience p
{
margin-bottom:48px;
}

#description_experience

{
	display:inline-block;
	font-family: 'OpenSans-Light';
	font-size:12px;
	float:right;
	width:80%;
}

#description_experience p
{
	text-align:left;
}

#experience
{
	display:inline-block;
}

#titre_formation
{
	font-family: 'OpenSans-Light';
	width:20%;
	display:inline-block;
	font-size:12px;
}

#description_formation
{
	display:inline-block;
	font-family: 'OpenSans-Light';
	font-size:12px;
	float:right;
	width:80%;
}

#formation
{
	display:inline-block;
	width:100%;
	padding-top: 52px;
}

#description_formation p
{
	text-align:left;
}

#Nom
{
	font-family: 'OpenSans-Light';
	font-size:42px;
}

#Nom p
{
	margin-bottom:10px;
}

#Nom::before
{
	content:"Basil";
	color:#3f51b5;
}

#Nom::after
{
	content:"Lombard";
	color:black;
}

#titre
{
	margin-top: -14px;
	background: url('contenu/image/separateur.png') repeat-x bottom;
	background-size:12px;

}






@media screen and (max-width: 1024px)
{
	#liseret
	{
		display:none;
	}
	
	section
	{
		display:block;
		width:auto;
	}

	#contenu
	{
		width:auto;
	}
}