@font-face 
{
    font-family: 'OpenSans-Light';
    src: url('contenu/font/OpenSans-Light.ttf');
}
@font-face
{
	font-family:'OpenSans-Bold';
	src: url(contenu/font/OpenSans-Bold.ttf);
}

html
{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

body
{
	font-family: 'OpenSans-Light';
    margin:auto;
    width:900px;
    border:1px solid grey;
}

h1
{
	font-size:32px;
}


article h2
{
	font-family:'OpenSans-Bold';
	background: url('contenu/image/separateur.png') repeat-x bottom;
	font-size:20px;
}

section
{
	margin-bottom: -1px;
	display:flex;
	flex-direction:row;
}

li
{
	font-size:12px;
}

article
{
    margin-right: 20px;
    padding-left:40px;
   	order:2;
   	width:70%;
}

img.icon_thinking
{
padding-right:5px;
}
img.icon_skill
{
padding-right:5px;
}

img.icon_tool
{
padding-right:5px;
}

aside
{
	order:1;
    position:relative;
    background-color:#3F51B5;
    width:30%;
}

aside h2
{
	font-family:'OpenSans-Bold';
	background-color:#2A2A2A;
	text-align:center;
	color:#3F51B5;
	font-size:20px;
}

aside ul
{
	list-style-type: none;
}

#textapropos
{
	margin-left: 7px;
    margin-right: 6px;
}
p#textapropos
{
	font-size:12px;
}

p#aside_image
{
	text-align:center;
	padding-top: 24px;
    padding-bottom: 10px
}

p#aside_image img
{
	width : 150px; 
	height : 150px;
  	border: none;
  	-moz-border-radius : 75px;
  	-webkit-border-radius : 75px;
  	border-radius : 75px;
}

#loisirs
{
	position: relative;
	text-align:center;
}

#loisirs img
{
	padding-left: 16px
}

#description_competences
{
	display:inline-block;
	padding-left:10px;
	float:right;
	padding-top: 10px;
}

#titre_competences
{
	float:left;
	display:inline-block;
}






@media screen and (max-width: 1024px)
{
	#liseret
	{
		display:none;
	}
	
	section
	{
		display:block;
		width:auto;
	}

	#contenu
	{
		width:auto;
	}
}